.container{
    min-height: var(--section-container-min-height);
}
.title{
    font-size: 2em;
}

.title-container{
    height: 300px
}

.col-spacer{
    width: 80px;
}

.wid-container{
    margin-top: -4rem;
}
