.container{
    height: 1000px;
}
.max-width-container{
    max-width: var(--section-content-max-width);
}

.title{
    font-size: 2em;
}

.title-container{
    height: 300px
}

.col-spacer{
    width: 80px;
}

.wid-container{
    margin-left: -50px;
}

.wid-card-container{
    padding-left: 50px;
}
