version: '3.9'
services:
  app:
    build:
      context: ./ui
    container_name: portfolio-app
    restart: unless-stopped
    tty: true
    networks:
      - app-network

  webserver:
    build:
      dockerfile: ./nginx/Dockerfile
    container_name: portfolio-webserver
    restart: unless-stopped
    tty: true
    volumes:
      - ./nginx/conf.d/:/etc/nginx/conf.d/
    ports:
      - "80:80"
      - "443:443"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  dbdata:
    driver: local