.container{
    background-color: var(--section-bg-color);
    min-height: var(--section-container-min-height);
}

.max-width-container{
    max-width: var(--section-content-max-width);
}

.border-color{
    border-left-color: var(--theme-color);
}