.container{
    background-color: var(--section-bg-color);
    height: 750px;
}

.max-width-container{
    max-width: var(--section-content-max-width);
}

.border-color{
    border-left-color: var(--theme-color);
}