@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --theme-color: rgb(35, 162, 253);
    --section-bg-color: #f9f9f9;
    --top-bar-height: 100px;
    --section-content-max-width: 500px;
    --section-container-min-height: 800px;
    --long-text-width: 600px;
}

@media (min-width: 768px) {
    :root {
        --section-content-max-width: 668px;
    }
}

@media (min-width: 1024px){
    :root {
        --section-content-max-width: 924px;
    }
}

@media (min-width: 1280px){
    :root {
        --section-content-max-width: 1180px;
    }
}

@media (min-width: 1536px){
    :root {
        --section-content-max-width: 1300px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

#top-of-site-pixel-anchor {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 400px;
    left: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

.top-bar-original {
    background-color: #fff0;
    color: #fff;
}

.top-bar-animate {
    background-color: #fff;
    color: #333;
    box-shadow: 0px 0px 23px 6px rgba(0, 0, 0, 0.14);
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.section-link-selected{
    color: var(--theme-color);
}