.container{
    background-color: var(--section-bg-color);
    min-height: var(--section-container-min-height);
}

.max-width-container{
    max-width: var(--section-content-max-width);
}


.badge{
    transform: translate(1rem, -1rem);
}

.techs-container{
    margin-left: -1.5rem;
}

.tech-stacks-container{
    margin-top: -3rem;
}

.header-content-width{
    max-width: var(--long-text-width);
}