.container{
    min-height: 50vh;
    color: rgb(var(--foreground-rgb));
    background-color: #000;
    background: url('/home-bg.jpg');
}

.bg-layer{
    background-color: #000000d8;
}

.title{
    font-family: "Playfair Display", Georgia, serif;
    z-index: 1;
}

.subtitle{
    font-family: "Playfair Display", Georgia, serif;
    z-index: 1;

}

.colored-text{
    color: var(--theme-color);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.colored-text:hover{
    transform: scale(1.05);
}

.initial-ease{
    position: relative;
    top: 100px;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition: transform 1s ease, color .5s ease;
    -webkit-transition: transform 1s ease, color .5s ease;
    -moz-transition: transform 1s ease, color .5s ease;
    -ms-transition: transform 1s ease, color .5s ease;
    -o-transition: transform 1s ease, color .5s ease;
}

.initial-ease:hover{
}

.about-me-container{
    max-width: var(--section-max-width);
}