.card-container{
    border-right-color: var(--theme-color);
}

.card-container-width{
    width: 400px;
}
.card-container-height{
    height: 250px;
}

@media (min-width: 640px){
    .card-container-width{
        width: 500px;
    }
    .card-container-height{
        height: 230px;
    }
}

@media (min-width: 768px){
    .card-container-width{
        width: 600px;
    }
    .card-container-height{
        height: 230px;
    }
}

@media (min-width: 1024px){
    .card-container-width{
        width: 500px;
    }
    .card-container-height{
        height: 230px;
    }
}

@media (min-width: 1280px){
    .card-container-width{
        width: 600px;
    }
    .card-container-height{
        height: 230px;
    }
}
